body, html {
    height: 100%;
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  }
  
  .bg {
    /* The image used */
    background-image: url("https://cdn.pixabay.com/photo/2018/03/16/20/14/tiefenscharfe-3232353_960_720.jpg");
  
    /* Full height */
    height:100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .page-header{
    color:red;
    
  }
  img{
  width:80px;
  height:60px;
  float: right;
  }
  #mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 165px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
  }
  
  #mySidenav a:hover {
    left: 0;
  }
  
  #wheat {
    top: 100px;
    background-color: #4CAF50;
  
  }
  
  #tomato {
    top: 180px;
    background-color: #2196F3;
  }
  
  #rice {
    top: 260px;
    background-color: #f44336;
  }
  
  #potato {
    top: 340px;
    background-color: #555
  }
  .content {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
  }