.register-photo {
    background:Rgba(156,156,156,0.13);
    margin:auto;
    padding: 10px;
}

@media (max-width: 576px) {
    .register-photo .image-holder {
        display: table-cell;
        width: auto;
        background-size: cover;
        display: none;
    }
}

.register-photo .image-holder {
    display: table-cell;
    width: 300px;
    background: url("/img/sign.png");
    background-size: cover;

}
.register-photo .form-container {
    display: table;
    max-width: 1500px;
    width:1200px;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    font-family: roboto;
}

.register-photo form {
    display: table-cell;
    width: 300px;
    background-color: #ffffff;
    padding:60px 40px;
    color: #505e6c;
    height:350px;
     font-family: cursive;

}

@media (max-width:991px) {
    .register-photo form {
        padding: 40px
    }
}

.register-photo form h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px
}

.register-photo form .form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 6px;
    height: 20px;
    width:300px;
}

.register-photo form .form-check {
    font-size: 16px;
    line-height: 20px
}
.btn-pink {
    border-radius: 50px;
    background-color:rgba(167,200,213,1);
    padding: 8px 40px;
font-weight:bold;
font-family: cursive;
color:black;
}

.btn-gray:hover {
    color: #fff;
    background-color: gray;
}
.btn-pink:hover {
    color: #fff;
    background-color: gray;
}

  #grad1 {
    display: table-cell;
   background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(167,200,213,1)),
    url("https://miro.medium.com/max/1024/0*yDMvxPc4ZMM7SdVg.png");
    background-size: cover;
} 
.close{
  margin-top:3%;
  width:10%;
}
.btn .btn-sm{
  width:20%;
}